@import "./base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
}

img {
	border: none;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.clearfix {
	clear: both;
}

input, textarea {
	outline: none;
}

#canvas {
	@include pos(a);
	left: 15%;
	top: 8%;
	z-index: 10;
}

.zmiti-bg-canvas {
	@include pos(a);
}

.zmiti-cache-img {
	@include pos(f);
	left: 1000px;
	opacity: 0;
	z-index: -1;
}

.zmiti-btn-group {
	@include pos(a);
	bottom: 1rem;
	width: 8rem;
	@include displayBox(horizontal);
	left: 1rem;

	&>div {
		width: 2.4rem;

		&:nth-of-type(1) {
			margin-right: .5rem;
		}

		&:nth-of-type(2) {
			margin-left: .5rem;
		}

	}

}
